<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LBImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5389CD3D1D9BA2AA00B1146B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5389CD511D9BA2AB00B1146B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5389CD5C1D9BA2AB00B1146B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
