<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LBTodoList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53290C9E1D766E0B000B7711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53290CB51D766E0B000B7711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53290CC01D766E0B000B7711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
