<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LBCustomFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>532A11B61DB485690075FA39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>532A11CA1DB485690075FA39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>532A11D51DB4856A0075FA39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
